*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

/*TOPBAR*/

.topbar{
    position: relative;
    top: 0;
    background-color: black;
    left: 0;
    z-index: 3;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    height: 88px;
}
.topbar-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1900px;
    margin: auto;
    width: 90%;
}
.topbar-logo a{
    color: white;
    font-size: 1.5em;
    margin-left: 20px;
    text-decoration: none;
}
.topbar-buttons{
    justify-content: end;
    margin-right: 20px;
}
.topbar-buttons button{
    color: white;
    
}
.top-button1{
    border-color: white;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    background-color: transparent;
    font-size: 1.5em;
}
.top-button2{
    background-color: #4C5FD5;
    height: 50px;
    font-size: 1.5em;
    width: 150px;
    border-radius: 10px;
    
}
/*SECTION*/
.container-section{
    display: block;
    margin-top: 8rem;
    margin-bottom: 5rem;
}
.container-home{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
.category-list-items{
    display: flex;
    flex-wrap: wrap;
}
.category-item{
    margin-top: 30px;
    margin-bottom: 40px;
    min-height: 115px;
    width: 50%;
    display: flex;
}
.category-icon{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    height: 80px;
    width: 80px;
}
.category-content{
    position: relative;
    padding: 0 1.5rem 0 0;
    width: 100%;
    z-index: 2;
}
.category-content h4{
    font-size: 25px;
}
.category-content p{
    font-size: 22px;
    line-height: 32px;
}
.category-content a{
    font-size: 22px;
}


.hero-section{
    padding-top: 80px;
    padding-bottom: 115px;
    background-color: #dadbf1;
    position: relative;
    z-index: 2;
}
.container-hero{
    position: relative;
    z-index: 2;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;

}
.hero-title{
    text-align: center;
    font-size: 2.5em;
}
.place-holder-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    position: relative;
    text-align: center;
}
.icon-placeholder{
    height: 70px;
    border-radius: 20px;
    width: auto;
    margin-top: 1em;
    width: 500px;
    font-size: 1.5em;
}
::placeholder {
    margin-left: 50px;
}

/*FOOTER*/
.footer-container{
    font-size: 16px;
    line-height: 24px;
    position: relative;
    padding-bottom: 60px;
    color: white;
    background-color: black;
    font-weight: 400px;
}
.container-inner{
    margin: 0 auto;
    width: 90%;
    max-width: 1900px;
    position: relative;
}
.footer-column{
    margin-top: 3em;
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    margin-right: 30px;
}
.footer-column a{
    display: block;
    color: white;
}










.icon-placeholder{
    background-image: url(right-arrow.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: right;
}

@media screen and (max-width: 768px){
    .topbar-inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .topbar-buttons{
        display: flex;
        justify-content: center;
        font-size: 0.5em;
    }
    .top-button1{
        max-width: 100px;
        height: 50px;
        font-size: small;
        overflow: hidden;
    }
    .top-button2{
        
        max-width: 100px;
        height: 50px;
        font-size: small;
    }
    .container-hero{
        justify-content: center;
        max-width: fit-content;
    }
}